<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madlab.todoandnotesapp">
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@drawable/computericon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/computericon"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme"
        android:resizeableActivity="false">
        <activity
            android:name=".AddTodoActivity"
            android:label="Add To-Do"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AddNoteActivity"
            android:label="Add Note"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmBroadcastReceiver"/>
    </application>

</manifest>